:root {
    --right-section-color: #FFC819;
    --main-section-color: #F26A62;
    --left-section-color: #0EA08A;
    --selected-color: rgba(0, 0, 0, .0625);
}

body {
    margin: 0;
    padding: 0;
}

.main {
    height: calc(100vh - ( 3em + 5px));
    margin-top: calc( 3em + 5px);
    overflow: hidden;
    position: relative;
    width: 100vw;
}

.background {
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    transform: translateX( var(--offset) );
    transition: transform ease .5s;
    width: 400vw;
}

.background > div {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    float: left;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
    position: relative;
    width: 100vw;
}

.background #bg-left-section {
    background-color: var(--left-section-color);
}

.background #bg-main-section {
    background-color: var(--main-section-color);
}

.background #bg-right-section {
    background-color: var(--right-section-color);
}

nav {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    --label-bg-color: transparent;
}

nav label {
    box-sizing: border-box;
    color: rgba(0, 0, 0, .87);
    display: block;
    float: left;
    margin: 0;
    padding: 1em;
    text-align: center;
    text-transform: capitalize;
    transition: background ease 1s;
    width: calc(100%/3);
    font-size: 1em;
    line-height: 1em;
    cursor: pointer;
    background-color: var(--label-bg-color);
}

nav label:hover {
    background-color: var(--selected-color);
    transition: background ease-out 1s;
}

nav hr {
    background-color: var(--hr-color);
    border: 0 none;
    height: 5px;
    margin: 0;
    padding: 0;
    width: calc(100%/3);
    margin-left: var(--hr-margin);
    transition: margin-left .3s ease-in, 
                background-color .5s ease .1s;

}

input[type=radio][name="color"] {
    display: none;
}


#left:checked~.main {
    --offset:  0;
}


#left:checked~nav {
    --hr-color: var(--left-section-color);
    --hr-margin: 0;
}

#main:checked~.main {
    --offset: -100vw;
}

#main:checked~nav {
    --hr-color: var(--main-section-color);
    --hr-margin: calc(100%/3);
}

#right:checked~.main {
    --offset: -200vw;
}

#right:checked~nav {
    --hr-color: var(--right-section-color);
    --hr-margin: calc((100%/3)*2);
}

#main:checked~nav #lbl-main-section, #left:checked~nav #lbl-left-section, #right:checked~nav #lbl-right-section{
    --label-bg-color: var(--selected-color);
}
